.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  align-items: center;
  gap: 3rem;
  background-color: rgba(213, 232, 255, 0.911);
  overflow-y: auto;
}

.image {
  max-width: 250px;
}

@media (min-width: 1200px) and (max-width: 1800px) {
  .main {
    padding-top: 15rem;
    padding-bottom: 10rem;
  }
}

@media (max-width: 1200px) {
  .main {
    padding-top: 12rem;
    padding-bottom: 8rem;
    gap: 1rem;
  }
}
